body{
    background-color: rgb(180, 180, 235);
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif ;
}

#Menu{
    width: 100%;
    height: 40px;
    display: flex;
    background-color: rgb(109, 109, 209) ;
} 
.col-7{
    color: white;
    opacity: 0.6;
    transition: opacity 1s;
    background-color: rgb(109, 109, 209);
    margin: 3px;
    padding: 10px;

}
.col-7:hover{
    margin: 0px;
    opacity: 1;
     background-color: blueviolet;
     transition: background-color 1s;
}
.col8{
    margin-right: 0px;
}
#title{
    position: relative;
}
#title img{
    width: 100%;

}
#pavaraghi{
    position:absolute;
    top: 94%;
    left: 3%;
    width: 80px;
    height: 20px;
    background-color: rgb(109, 109, 209);
    padding:3px;

}
.team{
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
}
 .team .col-4{
    width: 25%;
    padding-left: 8%;
}
.employee img{
    width:100px;
    border-radius: 100%;
    border-width: 4px;
}
.customer{ 
    position: relative;
    margin-top:30px;
    background-color: rgb(110, 110, 180);
    width: 100%;
    display: flex;
}
.customer .col-4{
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 3px;
    padding-right: 3px;
    width: 25%;
}
.customer .customer1{
    padding: 3px;
    border-radius: 3px;
    background-color: white;
    height: 100%;
}
.customer .customer1 img{
    width: 100%;
}
#plus
{
    background-color: rgb(46, 27, 92);
    border-radius: 100%;
    width: 30px;    
    text-align: center;
    color: white;
    position: absolute;
    right: 3%;
    top:98%;
}
.price
{
    width: 100%;
    display: flex;
    width: 100%;
} 
.price .col-3{
    width: 33.3%;
    padding: 5px;
}
.price .course table{
    width: 100%;
    text-align: center;
}
table , th{
    height: 60px;
}
table, th, td {
    border:1px solid grey;
    border-collapse: collapse;
  }
table button{
    border-style: none;
    color: white;
    background-color: rgb(21, 10, 31);
}
#contact{
    position: relative;
    width: 100%;
    background-color: rgb(182, 171, 223);
}
.contactmain{
    width: 60%;
    padding-left: 15px;
    /* position: relative; */
}
.form{  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 3%;
    padding: 1%;
    width: 40%;
    background-color: white;
    position: absolute;
    right: 0px;
    top:20
}
#end{
    text-align: center;
    margin:0px;
    width: 100%;
}
#end img{
    height: 20px;
}
.input{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}

